body {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
}

.year {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.week {
  border: 1px solid lightgray;
  height: 8px;
  width: 8px;
  margin: 4px;
}
