body {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.birthdate-container {
  margin-bottom: 20px;
}

@week-box-size: 6px;
@week-box-margin: 0.5px;
@year-line-length: 52 * (@week-box-size + (2 * @week-box-margin));
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: @year-line-length;
}

.week {
  border: 1px solid lightgray;
  height: @week-box-size;
  width: @week-box-size;
  margin: @week-box-margin;
}

.week.filled {
  border-color: lightblue;
  background-color: lightblue;
}
